

.logo-box {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  z-index: 10;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .mask-overlay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    mix-blend-mode: multiply;

    .logo {
      color: #fff;
      font-size: 4rem;
      font-weight: 900;

      transform-origin: center center;
      will-change: transform;
      white-space: nowrap;
    }

    .container {
      align-items: center;
      justify-content: center;
      gap: 3rem;
      margin: 3rem;
      position: relative;
      margin-top: 20dvh;

      h2 {
        color: #fff;
        position: relative;
      }
      h1 {
        font-size: 5.325rem;
        color: #fff;
        line-height: 4rem;
        text-transform: uppercase;
        margin-bottom: 0;
      }


      .box-text {
        width: 70%;
        position: relative;

        p {
          position: relative;
          color: #fff
        }
      }

      .box-image {
        position: relative;
        width: 200px;
        height: 259px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }
}

section {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  z-index: 15;
}
